# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [1]:
data={}
type(data)

dict

In [2]:
data1=dict()
type(data1)

dict

In [4]:
data={'Alabama':'Montgomery',
     'Arizona': 'Pheonix',
     'Georgia':'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio': 'Salem'} #key:value

In [5]:
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Pheonix', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort', 'Ohio': 'Salem'}

In [6]:
type(data)

dict

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [7]:
data['Kentucky']

'Frankfort'

In [8]:
data['Alabama']

'Montgomery'

In [9]:
data['Louisiana']

KeyError: 'Louisiana'

### Update elements of a dictionary and add new elements

In [10]:
day={1: 'Monday',
    2: 'Tuesday',
    4:['Thursday','Friday'],
    5: ('Saturday', 'Sunday')}

In [11]:
day[1]

'Monday'

In [12]:
day[4][1]

'Friday'

In [13]:
day[5][0]

'Saturday'

In [14]:
day[5][1]='Holiday'

TypeError: 'tuple' object does not support item assignment

In [15]:
day[4][0]='Holiday'
day

{1: 'Monday',
 2: 'Tuesday',
 4: ['Holiday', 'Friday'],
 5: ('Saturday', 'Sunday')}

In [16]:
day[1]='Holiday'
day

{1: 'Holiday',
 2: 'Tuesday',
 4: ['Holiday', 'Friday'],
 5: ('Saturday', 'Sunday')}

### `get` and `update` methods

In [17]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [18]:
data.get('Arizona')

'Pheonix'

In [19]:
data.get('Louisiana')

In [20]:
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Pheonix', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort', 'Ohio': 'Salem'}

In [21]:
data.update({'alabama':'Montgomery'})
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Pheonix', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort', 'Ohio': 'Salem', 'alabama': 'Montgomery'}

### Delete dictionary items using `del` and `pop`

In [22]:
data
del data['Alabama']

In [23]:
data

{'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem',
 'alabama': 'Montgomery'}

In [24]:
del data['Ohio']
data

{'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'alabama': 'Montgomery'}

In [25]:
deleted_state=data.pop('Arizona')
print("Deleted state", deleted_state)

Deleted state Pheonix

In [26]:
data

{'Georgia': 'Atlanta', 'Kentucky': 'Frankfort', 'alabama': 'Montgomery'}

In [27]:
deleted_capitol=data.pop('alabama')
print(deleted_capitol)
print(data)

Montgomery
{'Georgia': 'Atlanta', 'Kentucky': 'Frankfort'}

In [28]:
del data

In [29]:
data

NameError: name 'data' is not defined

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [30]:
data={'Alabama':'Montgomery',
     'Arizona': 'Pheonix',
     'Georgia':'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio': 'Salem'}

In [31]:
len(data)

5

In [32]:
print(data.keys())

dict_keys(['Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio'])

In [33]:
print(data.values())

dict_values(['Montgomery', 'Pheonix', 'Atlanta', 'Frankfort', 'Salem'])

In [34]:
print(data.items())
type(data.items())

dict_items([('Alabama', 'Montgomery'), ('Arizona', 'Pheonix'), ('Georgia', 'Atlanta'), ('Kentucky', 'Frankfort'), ('Ohio', 'Salem')])

dict_items

### Loop through a dictionary

In [35]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [36]:
for i in data.keys(): # unpack dict items
    print(i)
    print(type(i))

Alabama
<class 'str'>
Arizona
<class 'str'>
Georgia
<class 'str'>
Kentucky
<class 'str'>
Ohio
<class 'str'>

In [37]:
for j in data.values():
    print("The capitiol is: ", j)

The capitiol is:  Montgomery
The capitiol is:  Pheonix
The capitiol is:  Atlanta
The capitiol is:  Frankfort
The capitiol is:  Salem

In [38]:
for k in data.items():
    print(k)
    print(type(k))

('Alabama', 'Montgomery')
<class 'tuple'>
('Arizona', 'Pheonix')
<class 'tuple'>
('Georgia', 'Atlanta')
<class 'tuple'>
('Kentucky', 'Frankfort')
<class 'tuple'>
('Ohio', 'Salem')
<class 'tuple'>

In [39]:
for i, j in data.items():
    print("State: ", i, "Capitol: ", j)
    print(type(i), type(j))

State:  Alabama Capitol:  Montgomery
<class 'str'> <class 'str'>
State:  Arizona Capitol:  Pheonix
<class 'str'> <class 'str'>
State:  Georgia Capitol:  Atlanta
<class 'str'> <class 'str'>
State:  Kentucky Capitol:  Frankfort
<class 'str'> <class 'str'>
State:  Ohio Capitol:  Salem
<class 'str'> <class 'str'>

### Convert dictionary to lists using `list()` function

In [40]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [41]:
list(data.values())

['Montgomery', 'Pheonix', 'Atlanta', 'Frankfort', 'Salem']

In [42]:
tuple(data.keys())

('Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio')

### A List in a Dictionary

In [43]:
favourite_language={
    'Jen': ['Python', 'ruby'],
    'sarah':['C'],
    'edward':['ruby','Java'],
    'Phil':['Python','Haskell']   
}

In [44]:
for name, languages in favourite_language.items():
    print("\n"+name.title()+"\'s favourite languages are: ")
    #print(languages)
    for i in languages:
        print("\t\t\t"+i.title())

Jen's favourite languages are:
			Python
			Ruby

Sarah's favourite languages are:
			C

Edward's favourite languages are:
			Ruby
			Java

Phil's favourite languages are:
			Python
			Haskell

###  A Dictionary in a Dictionary

In [45]:
user={
    'einstein':{
        'first': 'albert',
        'last':'einstein',
        'location':'princeton'
    },
    'mcurie':{
        'first':'marie',
        'last': 'curie',
        'location':'paris'
    }
}

In [47]:
user

{'einstein': {'first': 'albert', 'last': 'einstein', 'location': 'princeton'},
 'mcurie': {'first': 'marie', 'last': 'curie', 'location': 'paris'}}

In [46]:
for username,user_info in user.items():
    print("\nUser Name: ", username)
    fullname=user_info['first']+" "+user_info['last']
    location=user_info['location']
    
    print("The full name is: "+ fullname.title())
    print("The location: ",location.title())

User Name:  einstein
The full name is: Albert Einstein
The location:  Princeton

User Name:  mcurie
The full name is: Marie Curie
The location:  Paris